# MySQL-Movie-Database

## Background 
Goal: Apply hypothesis testing to explore what makes a movie successful

Objectives:
- Create a repo, filter out subjets
- Design a MySQL database (db) and insert data
- Use an API to extract box office financial data and transform and load it into db
- Apply hypothesis testing to explore what makes a movie successful 

Data Dictionary: https://developer.imdb.com/non-commercial-datasets/
(IMDB movie data)

By: Phuong Huynh

## Imports

In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
import json
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

## Connect to MySQL Database

In [23]:
with open('/Users/Phuong/.secret/mysql.json') as f:
    login = json.load(f)

In [24]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/moviedb"
engine = create_engine(connection)

In [25]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [26]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

    Tables_in_moviedb
0  title-akas-us-only

## READ IN TABLES

In [3]:
# us movie table
akas_url = "/Users/Phuong/Documents/GitHub/MySQL-Movie-Database/data/title-akas-us-only.csv"
akas = pd.read_csv(akas_url, low_memory=False)

In [4]:
# title basics table
basics_url = "/Users/Phuong/Documents/GitHub/MySQL-Movie-Database/data/title.basics.tsv.gz"
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [22]:
# title ratings table
title_ratings_url = "/Users/Phuong/Documents/GitHub/MySQL-Movie-Database/data/title.ratings.tsv.gz"

## Filter Title Basics Database

In [5]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10017011 entries, 0 to 10017010
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 687.8+ MB

In [7]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"

In [13]:
basics_df.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           8802
endYear           833124
runtimeMinutes         0
genres                 0
dtype: int64

In [6]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics_df['tconst'].isin(akas['titleId'])
basics_df = basics_df[filter_us_titles]
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365643 entries, 0 to 10016966
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1365643 non-null  object
 1   titleType       1365643 non-null  object
 2   primaryTitle    1365643 non-null  object
 3   originalTitle   1365643 non-null  object
 4   isAdult         1365643 non-null  object
 5   startYear       1365643 non-null  object
 6   endYear         1365643 non-null  object
 7   runtimeMinutes  1365643 non-null  object
 8   genres          1365643 non-null  object
dtypes: object(9)
memory usage: 104.2+ MB

In [11]:
# remove unwanted values
basics_df = basics_df.replace({'\\N':np.nan})

In [12]:
# drop null values 
basics_df = basics_df.dropna(subset=["runtimeMinutes", "genres"])

In [15]:
# filter for only movies
filter_movies = basics_df['titleType']== 'movie'
basics_df = basics_df[filter_movies]

In [16]:
# change start year to float type
basics_df['startYear'] = basics_df['startYear'].astype(float)

In [17]:
# filter for year timeframe
basics_df = basics_df.loc[(basics_df['startYear'] >= 2000) & (basics_df['startYear'] <= 2022)]

In [18]:
# remove movies that include "Documentary" in the genre
filter_doc = basics_df['genres'].str.contains('Documentary', na=False)
basics_df = basics_df[~filter_doc]

In [19]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [20]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [21]:
filtered_file = "/Users/Phuong/Documents/GitHub/MySQL-Movie-Database/data/filtered.title.basics.csv"
basics_df.to_csv(filtered_file)

## Filter Title Ratings Database

In [33]:
# Load Data into dataframe
ratings_df = pd.read_csv(title_ratings_url, sep='\t', low_memory=False)

In [34]:
print(ratings_df.columns)

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [35]:
# Filter Ratings with basics data foreign key
filter_basics = ratings_df['tconst'].isin(basics_df['tconst'])
ratings = ratings_df[filter_basics]

In [36]:
# Replace missing values with nan
ratings_df = ratings_df.replace({'\\N':np.nan})

In [37]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71900 entries, 17961 to 1331462
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         71900 non-null  object
 1   averageRating  71900 non-null  float64
 2   numVotes       71900 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

In [39]:
ratings_df.head()

          tconst  averageRating  numVotes
17961  tt0035423            6.4     87153
40764  tt0062336            6.4       175
46645  tt0069049            6.7      7754
63640  tt0088751            5.2       336
69953  tt0096056            5.6       846

In [40]:
filtered_file = "/Users/Phuong/Documents/GitHub/MySQL-Movie-Database/data/filtered.title.ratings.csv"
ratings_df.to_csv(filtered_file)